html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

*:focus {
  outline: none;
}

body {
  min-width: 320px;
  max-width: 1920px;
  font-family: 'muller', sans-serif;
  font-weight: 400;
  /* line-height: 125%; */
}

:root {
  --white: #fff;
  --black: #07060b;
  --black_focus: #06060B;
  --button_cta: #46F4DB;
  --red: #D13130;
  --red_secondary: #FF6F6F;
  --grey_dark: #717178;
  --grey_light: #ededf2;
  --grey_middle: #95959D;
  --primary: #46F4DB;
  --primary_active: #57D272;
}


@font-face {
  font-family: 'Muller';
  src: local('Muller Bold'), local('MullerBold'),
    url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: local('Muller Regular'), local('MullerRegular'),
    url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'RusoOne';
  src: local('Ruso One Regular'), local('RusoOne Regular'), local('RusoOneRegular'),
    url('../fonts/russo-one.woff2') format('woff2'),
    url('../fonts/russo-one.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/* global */

.list__reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn__reset {
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.section__title {
  margin: 0;
  margin-bottom: 32px;
  color: var(--black);
  font-family: 'RusoOne', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.section__title-small {
  font-size: 20px;
}

.section__offset {
  padding: 90px 0;
}

.btn {
  padding: 24px 54px 21px;
  border-radius: 50px;
  /* outline: 2px solid aquamarine; */
}

/* header */

.header {
  padding: 14px 0;
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: 73px;
}

.header__nav {
  margin-right: auto;
}

.header__item {
  margin-right: 43px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__item-link {
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
  transition: color .3s ease-in-out;
}

.header__item-link:focus {
  color: var(--black_focus);
  outline-offset: 4px;
  outline: 2px solid var(--primary_active);
}

.header__item-link:hover {
  color: var(--button_cta);
}

.header__item-link:active {
  color:  var(--primary_active);
  outline: none;
}

.header__button {
  padding: 17px 32px;
  border-radius: 77px;
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  background: var(--black);
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.header__button:focus {
  color: var(--black);
  background-color: var(--button_cta);
}

.header__button:hover {
  color: var(--black);
  background: var(--button_cta);
}

.header__button:active {
  color: var(--black);
  background: var(--primary_active);
}

/* hero */

.hero {
  padding: 160px 0;
  background-color: var(--black);
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 49%;
}

.hero__content {
  flex-direction: column;
  max-width: 50%;

}

.hero__title {
  margin: 0;
  margin-bottom: 38px;
  font-family: 'RusoOne', sans-serif;
  font-size: 70px;
  font-weight: 400;
  line-height: 120%;
  color: var(--white);
}

.hero__button {
  border-radius: 40px;
  font-size: 20px;
  font-weight: 700;
}

.hero__button-bay {
  margin-right: 28px;
  color: var(--black);
  background-color: var(--button_cta, linear-gradient(180deg, var(--button_cta) 27.08%, var(--primary_active) 100%));
  transition:  background-color .3s ease-in-out;
}

.hero__button-bay:focus {
  background: var(--button_cta);
}

.hero__button-bay:hover {
  background-color: var(--button_cta);
}

.hero__button-bay:active {
  background-color: var(--primary_active);
}

.hero__button-comauthor {
  padding: 19px 50px 18px;
  border: 5px solid var(--button_cta);
  color: var(--white);
  transition: color .3s ease-in-out, border-color .3s ease-in-out, background-color .3s ease-in-out;
}

.hero__button-comauthor:focus {
  border-color: var(--button_cta);
  color: var(--black);
  background-color: var(--button_cta);
}

.hero__button-comauthor:hover {
  border-color: var(--button_cta);
  color: var(--black);
  background-color: var(--button_cta);
}

.hero__button-comauthor:active {
  border-color: var(--primary_active);
  color: var(--black);
  background-color: var(--primary_active);
}

/* betauction */

.betauctiom__wrap-title {
  align-items: center;
  margin-bottom: 32px;
}

.betauction__title {
  margin-right: 16px;
  margin-bottom: 0;
}

.betauction__link {
  padding: 9px 15px;
  padding-left: 26px;
  border-radius: 40px;
  border: 2px solid var(--red);
  font-size: 16px;
  font-weight: 700;
  color: var(--red);
  background-image: url("../img/betauction-red_point.svg");
  background-repeat: no-repeat;
  background-position: 15px center;
}

.betauction__lot {
  padding-left: 492px;
  background-image: url("../img/betauction-witcher.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: contain;
}

.lot__clerk {
  align-items: center;
  padding: 11px 16px;
  margin-bottom: 32px;
  max-width: 228px;
  border-radius: 23px;
  background-color: var(--grey_light);
}

.lot__clerk-avatar {
  margin-right: 16px;
}

.lot__clerk-name {
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
}

.lot__name {
  margin-bottom: 25px;
  font-size: 48px;
  color: var(--black);
}

.lot__wrap-content {
  align-items: center;
  margin-bottom: 32px;
}

.lot__bid {
  flex-direction: column;
  margin-right: 32px;
  padding: 31px;
  padding-right: 57px;
  width: 296px;
  border-radius: 40px;
  background-color: var(--grey_light);
}

.lot__bid-caption {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
}

.lot__bid-price {
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 700;
  color: var(--black);
}

.lot__bid-dollars {
  font-size: 20px;
  font-weight: 700;
  color: var(--grey_middle);
}

.lot__timer {
  flex-direction: column;
  margin-right: 0;
  padding: 31px;
  padding-right: 197px;
  width: 460px;
  border-radius: 40px;
  background-image: url("../img/betauction-clock.svg");
  background-repeat: no-repeat;
  background-size: 108px;
  background-position: right 38px center;
  background-color: var(--black);
  color: white;
}

.lot__timer-caption {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
}

.timer__wrap {
  flex-direction: column;
  text-align: center;
  margin-right: 26px;
}

.timer__wrap:last-child {
  margin-right: 0;
}

.timer__nuber {
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 700;
  color: var(--white);
}

.timer__subtitle {
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
}

.timer__nuber-hour,
.timer__nuber-minuts,
.timer__nuber-seconds {
}


.betaucrion__button {
  position: relative;
  padding: 24px 74px;
  background-color: var(--button_cta);
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
  z-index: 1000;
}

.betaucrion__button::before {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: var(--button_cta, linear-gradient(180deg, var(--button_cta) 27.08%, var(--primary_active) 100%));
  /* background: red; */
  transition: opacity 0.3s ease-in-out;
  z-index: -1000;
}

.betaucrion__button:focus::before{
  opacity: 1;
}

.betaucrion__button:hover::before{
 opacity: 1;
}


.betaucrion__button:active {
  background: var(--primary_active);
}

.betaucrion__button:active::before {
 opacity: 0;
}


/* auction */

.auction {
  padding-top: 0;
}

.auction__list {
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.auction__item {
  margin-right: 32px;
  margin-bottom: 32px;
  /* padding-top: 7px; */
  width: 296px;
  /* border-radius: 40px; */
  /* outline: 1px solid red; */
}

.auction__item:nth-child(4n) {
  margin-right: 0;
}

.auction__item-cartoon {
  /* margin-bottom: 7px; */
  padding: 7px 0;
  /* height: 174px; */
  /* padding-top: 7px; */
  padding-bottom: 6px;
  border-radius: 40px 40px 0 0;
  background-color: var(--grey_light);
}

.auction__item-img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto;
  margin-top: auto;
  border-radius: 100%;
}

.auction__item-content {
  flex-direction: column;
  padding: 16px 16px 32px;
  border-radius: 0 0 40px 40px;
  background-color: var(--black);
  color: white;
}

.clerk__wrap {
  align-items: center;
  margin-bottom: 16px;
}

.clerk__avatar {
  margin-right: 8px;
}

.clerk__name{
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
}

.auction__subtitle {
  margin: 0;
  margin-bottom: 9px;
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
}

.auction__price {
  margin-bottom: 7px;
  font-size: 20px;
  font-weight: 700;
  color: var(--primary);
}

.auction__time {
  font-size: 16px;
  font-weight: 700;
  color: var(--grey_middle);
}

.auction__button{
  display: block;
  margin: 0 auto;
  padding: 19px 77px;
  border: 5px solid var(--button_cta);
  font-size: 20px;
  font-weight: 700;
  transition: background-color .3s ease-in-out;
}

.auction__button:focus {
  background: var(--primary);
}

.auction__button:hover {
  background-color: var(--primary);
}

.auction__button:active {
  border-color: var(--primary_active);
  background-color: var(--primary_active);
}


/* new */

.new__carucel {
  padding-bottom: 88px;
  background-color: var(--black);
}

.new__wrap-title {
  max-width: 551px;
  background-image: url("../img/new-bonfire.png");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 48px 48px;
}

.new__title {
  padding-left: 64px;
  color: var(--white);
}
.slider {
  justify-content: space-between;
  height: 400px;
}

.slider__img {
  width: 300px;
  height: 300px;
}

.slider__img-1 {
  background-image: url("../img/new-ghost-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;

}

.slider__img-2 {
  background-image: url("../img/new-ghost-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;

}

.slider__img-3 {
  width: 624px;
  background-image: url("../img/new-Parental-Advisory-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;

}

.new__subscribe {
  background-color: var(--red);
}

.new__container {
  padding: 32px 15px;
  background-image: url("../img/new-form-backgroun.png");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: contain;
}

.new__subtitle {
  margin: 0;
  margin-bottom: 32px;
  font-family: 'RusoOne',sans-serif;
  font-size: 20px;
  color: var(--white);
}

.new__form-wrap {
  flex-direction: column;
  max-width: 460px;
}
.new__form-input {
  margin-bottom: 15px;
  padding: 23px 32px;
  border-radius: 40px;
  font-size: 20px;
  color: var(--grey_light);
  background-color: var(--black);
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.new__form-input::placeholder {
  font-size: 20px;
  color: var(--grey_light);
}

.new__form-input:focus {
  color: var(--black);
  border: 2px solid var(--black);
  background-color: var(--red);
}

.new__form-input:focus::placeholder {
  color: var(--black);
}

.new__form-input:hover {
  color: var(--grey_light);
  background-color: var(--black);
}

.new__form-input:hover::placeholder {
  color: var(--grey_light);
}

.new__form-input:active {
  color: var(--black);
  border: 2px solid var(--black);
  background-color: var(--red);
}

.new__form-input:active::placeholder {
  color: var(--black);
}

.new__form-input-incorrect {
  color: var(--black);
  border: 2px solid var(--red_secondary);
  background-color: var(--red);
}

.new__form-input-incorrect::placeholder {
  color: var(--black);
}

.new__button {
  position: relative;
  margin-bottom: 16px;
  max-width: 296px;
  background: var(--button_cta);
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
  z-index: 1000;
}

.new__button::before {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: var(--button_cta, linear-gradient(180deg, var(--button_cta) 27.08%, var(--primary_active) 100%));
  transition: opacity 0.3s ease-in-out;
  z-index: -1000;
}


.new__button:focus::before {
  opacity: 1;
}

.new__button:hover::before {
  opacity: 1;
}

.new__button:active {
  background: var(--primary_active);
}

.new__button:active::before {
  opacity: 0;
}

.new__form-check {
  font-size: 12px;
  font-weight: 700;
  color: var(--white);
}
.check {
}
.check__input {
  margin-right: 8px;
  vertical-align: middle;
}

/* author */

.author {
  padding-top: 88px;
  padding-bottom: 87px;
  background-color: var(--white);
}

.author__container {
  justify-content: space-between;
}

.author__left {
  width: 48.9%;
  background-image: url("../img/author-background.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  /* outline: 1px solid coral; */
}

.author__title {
  margin-bottom: 16px;
}
.author__subtitle {
  margin: 0;
  margin-bottom: 20px;
  max-width: 556px;
  font-family: 'RusoOne', sans-serif;
  font-size: 20px;
  color: var(--black);
}
.author__descr {
  margin: 0;
  margin-bottom: 284px;
  max-width: 624px;
  font-size: 20px;
  line-height: 30px; /* 150% */
  color: var(--black);
}
.author__descr-dtrong {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: var(--black);
}

.author__right {
  padding-top: 12px;
  width: 48.9%;
  /* outline: 1px solid coral; */

}
.author__form {
  flex-direction: column;
}


.author__right-wrap {
  position: relative;
  margin-bottom: 32px;
  height: 342px;
  border-radius: 40px;
  background: var(--grey_light);
  z-index: 1;

}
.author__form-cartoon {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%); */
  width: 0;
  height: 0;
  cursor: pointer;
  z-index: 3;
}

.author__form-cartoon::after{
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 43%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 100%;
  z-index: 3;
  transition: color .3s ease-in-out, border .3s ease-in-out;
}

/* .author__rigt-svg {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  fill: #ededf2;
  cursor: pointer;
  background-color: transparent;
  z-index: 2;
} */

.author__form-cartoon::before{
  content: "+";
  text-align: center;
  display: block;
  position: absolute;
  left: 50%;
  top: 44%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  font-size: 100px;
  color: var(--grey_light);
  background-color: transparent;
  z-index: 1000;
  transition: color .3s ease-in-out, border .3s ease-in-out;
 }

 .author__form-cartoon:focus:after,
 .author__form-cartoon:hover:after{
  border: 2px solid var(--primary);
}

 .author__form-cartoon:focus::before,
 .author__form-cartoon:hover::before {
  color: var(--primary);
 }

 .author__form-cartoon:active::after{
  border: 2px solid var(--primary_active);
}

 .author__form-cartoon:active::before {
  color: var(--primary_active);
 }



.author__right-img {
  /* margin: 0 auto; */
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  z-index: 2000;
}

.author__rigt-span {
  display: block;
  position: absolute;
  left: 50%;
  top: 68%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* font-family: Muller; */
  font-size: 20px;
  /* font-style: normal;
  font-weight: 400; */
  line-height: 30px; /* 150% */
  color: var(--grey_middle);
  /* width: fit-content;
  height: fit-content; */
  z-index: 1000;
}

.author__form-nickname {
  margin-bottom: 32px;
  padding: 25px 32px;
  height: 70px;
  font-size: 20px;
  color: var(--grey_dark);
  border: none;
  border-radius: 40px;
  background-color: var(--grey_light);
  outline: none;
  transition: background-color .3s ease-in-out, outline .3s ease-in-out;
}

.author__form-nickname:focus {
  outline: 2px solid var(--grey_light);
  background-color: var(--white);
}

.author__form-nickname:hover {
  outline: none;
  background-color: var(--grey_light);
}

.author__form-nickname:active {
  outline: 2px solid var(--grey_light);
  background-color: var(--white);
}

.author__form-nickname-incorrect {
  outline: 2px solid var(--red_secondary);
  background-color: var(--white);
}



.author__button {
  position: relative;
  padding: 24px 54px 23px;
  max-width: 296px;
  background-color: var(--button_cta);
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
  z-index: 1000;
}

.author__button::before {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background: var(--button_cta, linear-gradient(180deg, var(--button_cta) 27.08%, var(--primary_active) 100%));
  /* background: red; */
  transition: opacity 0.3s ease-in-out;
  z-index: -1000;
}

.author__button:focus::before {
  opacity: 1;
}

.author__button:hover::before {
opacity: 1;
}

.author__button:active {
  background: var(--primary_active);
}

.author__button:active::before {
 opacity: 0;
}



/* top */

.top{
  padding-top: 88px;
  padding-bottom: 91px;
  background-color: var(--black);
}

.top__title {
  color: white;
}

.top__list {
  flex-wrap: wrap;
}

.top__item {
  margin-right: 32px;
  margin-bottom: 32px;
  max-width: 624px;
  width: 624px;
  border-radius: 40px;
  background-color: white;
  /* outline: 1px solid chartreuse; */
}

.top__item:nth-child(2n) {
  margin-right: 0;
}

.top__item-cartoon {
  padding: 16px 0 9px 16px;
  background-color: var(--grey_light);
  border-radius: 40px 0 0 40px;
}

.top__item-img {
  /* border-radius: 100px; */
}

.top__item-content {
  padding: 31px;
  padding-bottom: 29px;
}

.top__clerk {
  align-items: center;
}

.top__clerk-img {
  margin-right: 8px;
  margin-bottom: 9px;
}

.top__clerk-name {
  font-size: 16px;
  font-weight: 700;
  color: var(--black);
}

.top__subtitle {
  margin: 0;
  margin-bottom: 2px;
  font-size: 48px;
  font-weight: 700;
  color: var(--black);
}

.top__price-eth {
  margin-right: 6px;
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
}

.top__price-usd {
  font-size: 20px;
  font-weight: 700;
  color: var(--grey_middle);
}

/* condition */

.condition {
  padding: 32px 0;
  background-color: #37373E;
}

.condition__container {
  background-image: url("../img/condition-smail.png");
  background-repeat: no-repeat;
  background-position: right 15px center;
    background-size: 35%;
}

.condition__title {
  margin: 0;
  font-size: 0;
  visibility: hidden;
}

.condition__content {
  max-width: 397px;
}

.condidon__subtitle {
  margin: 0;
  margin-bottom: 12px;
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
}

.condition__item {
  margin: 0;
  margin-bottom: 16px;
  line-height: 32px;
}

.condition__item:last-child {
  margin-bottom: 0;
}

.condition__item-descr {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-left: 40px;
  /* min-height: 32px; */
  font-size: 18px;
  color: var(--white);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 32px 32px;
}


.condition__item-1 {
  background-image: url("../img/condition-1.svg");
}

.condition__item-2 {
  background-image: url("../img/condition-2.svg");
}

.condition__item-3 {
  background-image: url("../img/condition-3.svg");
}

/* footer */

.footer__container {
  align-items: center;
  justify-content: space-between;
}

.footer__top {
  padding: 20px 0 14px;
  background-color: var(--button_cta);
}

.footer__item {
  margin-right: 33px;
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__item-link {
  font-size: 20px;
  font-weight: 700;
  color: var(--black);
  transition: outline .3s ease-in-out, opacity .3s ease-in-out;
}

.footer__item-link:focus {
  outline: 2px solid var(--black);
}

.footer__item-link:hover {
  opacity: 0.5;
}

.footer__item-link:active {
  opacity: 0.3;
  outline: none;
}

.footer__bottom {
  padding: 8px 0;
  background-color: var(--black);
}

.footer__copy {
  display: block;
  text-align: center;
  font-size: 12px;
  color: var(--grey_light);
}



/* global prioritet */

.margin__bottom-reset {
  margin-bottom: 0;
}



